* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 1196px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 45px 0;
}
.header .nav {
  display: flex;
  gap: 40px;
  justify-content: end;
}
.header .nav__btn {
  width: 91px;
  height: 40px;
  padding: 10px 20px;
  background: #F84646;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.header .menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}
.header .menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.header .hamburger {
  display: none;
}

.firstpage {
  padding-top: 200px;
  min-height: 754px;
  background: url("../img/main-bg.jpg") center center/cover no-repeat;
}
.firstpage__title {
  width: 665px;
  font-weight: 800;
  font-size: 64px;
  line-height: 82px;
  color: #000;
}
.firstpage__descr {
  margin: 20px 0 50px;
  width: 650px;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #000;
  letter-spacing: 0.2px;
}
.firstpage-registration {
  width: 502px;
  height: 73px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.firstpage-registration__input {
  width: 100%;
  padding: 19px 0 18px 32px;
  border-radius: 8px;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.4);
}
.firstpage-registration__btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 136px;
  height: 61px;
  padding: 12px 38px 12px 37px;
  background: #F84646;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
  letter-spacing: 0.2px;
}

.management {
  min-height: 1053px;
  padding: 120px 20px 140px 19px;
}
.management__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  color: #000;
  text-align: center;
}
.management__descr {
  margin: 30px 0 90px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #000;
  text-align: center;
  letter-spacing: 0.2px;
}
.management__processes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 508px;
  gap: 91px 116px;
}
.management__process {
  width: 298px;
  max-width: 316px;
  height: 210px;
  text-align: center;
}
.management__process-title {
  margin: 10px 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
.management__process-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.testing {
  min-height: 376px;
  padding: 68px 0 78px;
  text-align: center;
  background: #F84646;
}
.testing__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
}
.testing__descr {
  margin: 8px 0 64px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}
.testing-tests {
  min-height: 62px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 49px;
}
.testing-tests__test {
  display: flex;
  align-items: center;
  width: 224px;
  gap: 46px;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #fff;
  text-align: left;
}
.testing-tests__test:after {
  content: url("../icons/circle-double-right.svg");
  display: inline-block;
  width: 32px;
  height: 32px;
}
.testing-tests__test:nth-child(2) {
  width: 277px;
}
.testing-tests__test:nth-child(3) {
  width: 258px;
}
.testing-tests__test:last-child::after {
  width: 182px;
  display: none;
}

.work {
  min-height: 1080px;
  padding: 160px 0;
}
.work-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 480px;
}
.work-wrapper:first-child {
  margin-bottom: 120px;
}
.work-text {
  width: 523px;
}
.work-text__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  color: #2E2E2E;
}
.work-text__descr {
  margin: 40px 0 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #808080;
}
.work-text__btn {
  width: 160px;
  height: 48px;
  padding: 12px 58px;
  background: #F84646;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.references {
  padding: 59px 0 165px;
  text-align: center;
  background: #F4F5F7;
  min-height: 603px;
}
.references__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  color: #18191F;
}
.references__descr {
  margin: 5px 0 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191F;
}
.references-wrapper {
  min-height: 336px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.references-alone {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}
.references-alone .end {
  align-items: end;
}
.references-double {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 24px;
}
.references-triple {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 24px;
}
.references-reference {
  width: 170px;
  height: 96px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.references-reference .alone {
  align-self: stretch;
}

.contact {
  padding: 160px 0;
  text-align: center;
}
.contact-title {
  margin: 10px 0 20px;
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
  color: #000;
}
.contact-descr {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #000;
}
.contact-btn {
  width: 204px;
  height: 70px;
  padding: 25px 40px;
  background: #F84646;
  border-radius: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #fff;
}

.footer {
  padding: 80px 0 70px;
  background: #F84646;
  font-family: "Inter", sans-serif;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer .social {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
.footer-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.footer-items__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}
.footer-items .main {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.footer-copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}
.footer-socials {
  display: flex;
  gap: 16px;
}
.footer-socials__social {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .firstpage {
    padding-top: 161px;
    background: url("../img/main-bg-tablet.jpg") center center/cover no-repeat;
  }
  .firstpage__title {
    font-weight: 800;
    font-size: 56px;
    line-height: 74px;
    color: #000;
  }
  .firstpage__descr {
    margin: 20px 0 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000;
  }
  .firstpage-registration {
    width: 422px;
    height: 73px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .firstpage-registration__btn {
    width: 136px;
    height: 61px;
    padding: 13px 25px 12px;
    background: #F84646;
    border-radius: 8px;
  }
  .management__processes {
    margin: 0 auto;
    width: 764px;
  }
  .testing-tests {
    gap: 36px;
  }
  .testing-tests__test {
    width: 169px;
    gap: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
  }
  .testing-tests__test:after {
    width: 28px;
    height: 28px;
  }
  .testing-tests__test:nth-child(2) {
    width: 198px;
  }
  .testing-tests__test:nth-child(3) {
    width: 200px;
  }
  .testing-tests__test:last-child::after {
    width: 135px;
  }
  .work-text {
    width: 428px;
  }
  .work-text__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 60px;
    color: #2E2E2E;
  }
  .work-text__descr {
    margin: 20px 0 46px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #808080;
  }
  .work-text__btn {
    width: 160px;
    height: 48px;
    padding: 12px 58px;
    background: #F84646;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }
  .work-img {
    width: 424px;
    height: 404px;
  }
  .references__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .header .menu {
    gap: 20px;
  }
  .firstpage__title {
    font-size: 48px;
    line-height: 64px;
  }
  .management__processes {
    width: auto;
  }
  .testing-tests {
    gap: 30px 20px;
  }
  .testing-tests__test {
    width: 145px;
    gap: 10px;
  }
  .testing-tests__test:nth-child(2) {
    width: 186px;
  }
  .testing-tests__test:nth-child(3) {
    width: 170px;
  }
  .testing__title {
    font-size: 42px;
    line-height: 58px;
  }
  .work {
    padding: 120px 0;
  }
  .work-wrapper {
    justify-content: center;
    gap: 60px;
  }
  .references-wrapper {
    flex-direction: column;
    gap: 24px;
  }
  .references-reference {
    width: 250px;
    height: 150px;
  }
  .footer-wrapper {
    gap: 60px 10px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .header .nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .header .menu {
    display: none;
  }
  .header .hamburger {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    width: 32px;
    height: 32px;
  }
  .header .hamburger span {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: #000;
  }
  .firstpage {
    background: url("../img/main-bg-phone.jpg") center center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .firstpage__title {
    width: auto;
    text-align: center;
  }
  .firstpage__descr {
    margin: 30px 0;
    width: auto;
    text-align: center;
  }
  .firstpage-registration {
    margin: 0 auto;
  }
  .management__processes {
    justify-content: center;
  }
  .testing-tests {
    gap: 40px;
    flex-direction: column;
  }
  .testing-tests__test {
    width: auto;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    gap: 40px;
  }
  .testing-tests__test:after {
    content: url("../../icons/arrow-down.svg");
  }
}
@media screen and (max-width: 577px) {
  .container {
    width: 310px;
  }
  .firstpage__title {
    width: 300px;
    font-size: 42px;
    line-height: 58px;
    word-break: break-all;
  }
  .firstpage__descr {
    margin: 30px 0 43px;
  }
  .firstpage-registration {
    width: 300px;
  }
  .firstpage-registration__input {
    width: 100%;
    padding: 13px 0 17px 21px;
  }
  .firstpage-registration__btn {
    padding: 16px 18px;
    width: 90px;
    height: 50px;
    background: #F84646;
    border-radius: 8px;
    top: 5px;
    right: 5px;
    bottom: 5px;
    font-size: 14px;
    line-height: 19px;
  }
  .management__title {
    font-size: 23px;
    line-height: 33px;
  }
  .management__descr {
    margin: 15px 0 40px;
    font-size: 12px;
    line-height: 22px;
  }
  .testing__title {
    font-size: 36px;
    line-height: 47px;
  }
  .testing__descr {
    margin: 8px 0 55px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
  }
  .work-text {
    width: auto;
    flex-flow: column-reverse wrap;
    justify-content: center;
    align-items: center;
  }
  .work-img {
    width: 100%;
    height: 312px;
    order: 1;
  }
  .work-text__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
  .work-text__descr {
    text-align: center;
    width: 300px;
  }
  .work-text__btn {
    margin: 0 auto;
    width: 100%;
    height: 48px;
  }
  .references__title {
    font-size: 36px;
    line-height: 42px;
  }
  .references__descr {
    margin: 5px 0 40px;
    font-size: 14px;
  }
  .references-reference {
    width: 170px;
    height: 96px;
  }
  .contact {
    padding: 90px 0 82px;
  }
  .contact-title {
    margin: 10px 0 20px;
    font-weight: 800;
    font-size: 36px;
    line-height: 32px;
    color: #000;
  }
  .contact-descr {
    margin: 12px 0 20px;
    font-size: 14px;
    line-height: 25px;
  }
  .footer-wrapper {
    justify-content: flex-start;
    gap: 49px 30px;
  }
  .footer-wrapper.social {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}/*# sourceMappingURL=style.css.map */