@import './_base/mixins';
@import './_base/variables';


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

ul,
ol,
li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

button,
input
{
    outline: none;
    border: none;
    cursor: pointer;
}

.container
{
    margin: 0 auto;
    width: 1196px;
}



@import './_blocks/header';
@import './_blocks/firstpage';
@import './_blocks/management';
@import './_blocks/testing';
@import './_blocks/work';
@import './_blocks/references';
@import './_blocks/contact';
@import './_blocks/footer';
@import './_blocks/media';