.contact
{
    padding: 160px 0;
    text-align: center;
    &-title
    {
        margin: 10px 0 20px;
        @include title($fz: 48px, $lh: 32px);
    }
    &-descr
    {
        margin-bottom: 30px;
        @include text($fz: 18px, $lh: 32px, $fw: 500);
    }
    &-btn
    {
        @include btn($w: 204px, $h: 70px, $padding: 25px 40px);
        @include text($fz: 24px, $lh: 20px, $fw: 400, $color: #fff);
    }
}